*{
    margin: 0;

  }


  header{
    background-image: url(../images/uperBG.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
        /* margin: -7px; */
        /* padding: 0; */
        height: 48em;
    }
    .logo {
        width: 75%;
        height: 70%;
        margin: 18% 20%;
    }
    .primary-nav {
        list-style: none;
        display: flex;
        margin-top: 88px;
        justify-content: space-evenly;
        color: white;
        width: 100%;
    }

  header div div nav ul li a {
  text-decoration: none;
  color: white;
  margin-left: 40px;
  font-family: 'Gothic A1', sans-serif;
  color: rgb(255, 255, 255);
  font-weight: 250;
  font-size: 1.4rem;
  }
  .container{
    display: flex;
    justify-content: space-evenly;
    margin-right: 0px;

  }
  .opaopa{
      margin-left: 47px;
  }
  .linhas {
      width: 26%;
      display: flex;
      margin-right: 0%;
      margin-top: 10%;
      align-items: center;
      /* height: 162px; */
  }


  .containerHero {
      display: flex;
      margin-top: 10%;
      align-items: flex-end;
      flex-direction: column;
  }
  .subhead {
      font-family: 'Gothic A1', sans-serif;
      color: white;
      font-weight: 350;
      margin-right: 12%;
      height: 9px;
      font-size: 2rem;
  }

  .specializations{
      background-image: url(../images/midBG.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
        /* margin: -7px; */
        /* padding: 0; */
        height: 48em;
        display: flex;
        align-items: center;

  }
  .spec {
      list-style: none;
      display: flex;
      flex-direction: column;
      margin-right: 20%;
  }
  .speclist{
  display: flex;
  margin-top: 50px;
  font-family: 'Gothic A1', sans-serif;
  color: rgb(0, 0, 0);
  font-weight: 250;
  font-size: 1rem;

  }
  .bolinha{
    margin-right: 20px;

  }
  .containerspec {
      flex-direction: column;
      display: flex;
      align-items: center;
      margin-left: 10%;
      margin-bottom: 15%;
  }
  .subheadspec {
      font-family: 'Gothic A1', sans-serif;
      color: #39404A;
      width: 74%;
      font-weight: 350;
      margin-bottom: 9%;
      font-size: 2rem;
      width: 75%;
      height: 70%;
      margin: 3% 20%;
  }
  .ourvalues {
      background-color: #39404A;
      height: max-content;
      padding-bottom: 10%;
      padding-top: 20%;
  }
  .ourvalueslist{
  display: flex;
  margin-top: 20px;
  flex-direction: column-reverse;
  font-family: 'Gothic A1', sans-serif;
      color: White;
      font-weight: 350;
      font-size: 1.7rem;
      margin-right: 50px;
      margin-top: 10%;
      align-items: baseline;
  }

  .listour {
      display: flex;
      flex-wrap: wrap;
      padding: 0;

  }

  .containerVal {
      font-family: 'Gothic A1', sans-serif;
      color: white;
      font-weight: 250;
      font-size: 1.4rem;
      width: 90%;
     margin-left: 10%;
     margin-right: 10%;


  }
  .valueline{
      margin-top: 5px;
  }

  #funciona{
    margin-top: 10%;
  }
  #tituloour{
    margin-bottom: 10%;
    font-size: 2rem;

  }
  .aboutus{
    display: flex;
    align-items: center;
  }
  .subaboutus{
    font-family: 'Gothic A1', sans-serif;
    color: rgb(0, 0, 0);
    font-weight: 250;
    font-size: 2rem;
    text-align: end;
    margin-right: 10%;
    margin-top: 88px;
  }

 .textabt{
     margin: 20% 20%;
     text-align: justify;
     margin-bottom: 10%;
 }

 .textborderabt{
     margin-bottom: 40px;
     font-family: 'Gothic A1', sans-serif;
     color: rgb(0, 0, 0);
     font-weight: 250;
     font-size: 1.4rem;
 }

 .aboutusline{
    display: flex;
    width: 26%;
      margin-right: 0%;
      margin-left: 74%;
      margin-top: 4%;
      align-items: center;

 }

 .benefits{
    display: flex;

    align-items: center;

 }

 .containerben{
     text-align: justify;
     margin: 20% 20%;
     margin-top: 0;
 }

 .tittleben{
    font-family: 'Gothic A1', sans-serif;
    color: rgb(0, 0, 0);
    font-weight: 250;
    font-size: 1.4rem;
    text-align: start;
    margin-right: 10%;
    margin-bottom: 40px;

 }

 .listben{
    list-style: none;
    display: flex;
    flex-direction: column;
 }
 .listbenele{
     display: flex;
    margin-bottom: 25px;
 }

 .listnumber{
    margin-right: 20px;
    padding: 0;
    margin-bottom: 10%;
 }
 .knowmore{
    background-color: #39404A;
      height: 15em;
      padding-top: 10%;
      padding-bottom: 15%;
 }
 .containerKnow{
    font-family: 'Gothic A1', sans-serif;
    color: white;
    font-weight: 250;
    font-size: 1.6rem;
    margin-left: 10%;
 }
 .tittleknowmore{
     font-size: 2rem;
     margin-bottom: 45px;
 }
 .textknowmore{
     font-size: 1.3rem;
     margin-bottom: 30px;

 }
 .wwp{
     margin-left: 200px;
 }
 .contacts{
     font-size: 1.3rem;
     margin-bottom: 20px;
 }
 .contacts2{
      font-size: 1.3rem;
      margin-left: 2px;
  }
  .ctcicon{

  }
  .peibufo{
        list-style: none;
        padding-left: 0;
  }

  .numero{
      margin-left: 320px;
  }
